.btnCatalog {
  max-width: 160px;
  padding: 8px 14px;
  color: black;
  text-decoration: none;
  background-color: #2566ff;
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
  display: flex;
  gap: 40px;
  margin-bottom: 8px;
}

.btnCatalog:is(:hover, :focus) {
  color: white;
  background-color: #2566ff;
  box-shadow: 1px 5px 3px black;
}

