.listItem {
  width: 274px;
  height: 426px;
  border-radius: 14px;
  position: relative;
}

.carImg {
  width: 274px;
  height: 268px;
  border-radius: 14px;
  object-fit: cover;
}

.carName {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #121417;
  gap: 5px;
}

.accent {
  color: #3470ff;
}
.icon {
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 14px;
}

.descrText {
  color: rgba(18, 20, 23, 0.5);

  font-size: 12px;

  font-weight: 400;
  line-height: 1.5;
}

.descrSpan {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: inline-block;
  max-width: 35%;
}

.wrapName {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.price {
  margin-right: 5px;
}

.iconStick {
  height: 16px;
  width: 2px;
  stroke: rgb(8, 9, 10);
  margin-left: 6px;
  margin-right: 6px;
}

.carButton {
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 44px;
  padding: 12px 99px;
  border-radius: 12px;
  background-color: #3470ff;
  align-items: center;
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  line-height: 1.42;
}

.carButton:is(:hover, :focus) {
  background-color: #9fa4af;
}
